/*
Colors
#005BBB - главный синий
#FFD500 - главный желтый
#ffffff - bg. text

Text
font-family: 'Montserrat';
font-weight: 400, 900
16(about, history)
18 placeholder, history text
20 nav
24 (about text) (year )
28 button, (about text >1024)
30 (h2)
40 (h2 >1024)
48 year
*/
.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #005BBB;
}
body{
    background-color: #fff;
}
.heading{
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 49px;
    letter-spacing: 0.06em;
    margin-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    position: relative;
}
.heading::after{
    content: "";
    width:500px;
    height: 1px;
    background-color: #005BBB;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.header__wrapper{
    width: 100%;
}
.header{
    max-width: 1024px;
    margin: 0 auto;
    padding: 80px 0;
}
.header_line{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.header_contact{
    display: none;
}
.burger{
    display: none;
    border: none;
    background: inherit;
    cursor: pointer;
}

.logo{
    fill: #005BBB;
    width: 68px;
    height: 59px;
}
.navigation  ul{
    display: flex;
    justify-content: center;
}
.navigation  ul li{
    margin: 0 40px;
}

.navigation  a{
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    color: #005BBB;
}

.navigation  a:visited{
    color: #005BBB;
}
.navigation a:hover{
    color: #FFD500;
}
.gallery{
    max-width: 1280px;
    margin: 0 auto 60px;
}

.gallery_item{
    padding: 0 20px;
}
.gallery_item img{
    border-left-width: 10px;
    border-left-style: solid;
    border-image:
            linear-gradient(
                    to bottom,
                    #005BBB 50%,
                    #FFD500 50%
            ) 1;
    object-fit: cover;
}

.slick-dots{
    position: absolute;
    bottom: -60px;
    right: 50%;
    transform: translateX(50%);
    height: 20px;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 8px;
}

.slick-dots button{
    display: inline-block;
    font-size: 0;
    line-height: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #005BBB;
    position: absolute;
    top: 0;
    left: 0;
}

.slick-active button:before {
    background-color: #005BBB;
}

   .gallery img {
       width: 400px;
       height: 200px;
       margin: 0 auto;
   }

.main {
    max-width: 1024px;
    margin: 0 auto;
}

.main_about{
    font-size: 28px;
    line-height: 140%;
    padding: 80px 0;
}
.main_history{
    border-top: 1px solid #005BBB;
    border-bottom: 1px solid #005BBB;
}
.history_cards--wrapper{
    margin: 40px 0 80px;
    border-spacing: 28px 0;
    display: flex;
    justify-content: space-between;
}
.history_card{
    max-width: 497px;
    background-color: #005BBB;
    color: #ffffff;
    border-left: 10px solid #FFD500;
    font-size: 18px;
    line-height: 140%;
    padding: 40px 40px 40px 30px;
    display: flex;
    align-items: center;
}
.history_card--m{
    margin-right: 28px;
}
.history_year{
    font-size: 48px;
    color: inherit;
}

.contact_wrapper{
    border:1px solid #005BBB;
    padding: 30px 260px 30px 30px;
    margin: 40px 0 160px;
    position: relative;
}
.contact_message{
    border: 0;
    color: black;
    outline: none;
    line-height: 22px;
    width: 100%;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text);
    color: #005BBB;
    font-size: 18px;
    line-height: 22px;
}
.contact_btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    padding: 13px 56px;
    text-transform: uppercase;
    color: white;
    background-color: #005BBB;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
}


/* tablet */

@media only screen
and (max-width: 1199px) {
    .heading{
        font-size: 30px;
        line-height: 37px;
    }
    .heading::after{
        width: 452px;
    }
    .header, .gallery, .main{
        max-width: calc(100vw - 120px);
    }
    .header{
        padding-top: 48px;
    }
    .header__wrapper.open{
        background-color: #005BBB;
    }
    .header_line{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
    }
    .burgerMenu_wrapper{
        display: none;
    }
    .open .burgerMenu_wrapper{
        display: block;
        position: absolute;
        z-index: 1;
        background-color: #005BBB;
        width: 100%;
        left: 0;
    }
    .open .header_contact{
        display: block;
    }

    .burger{
        display: block;
    }
    .burger_close{
        display: none;
    }

    .open .logo{
        fill: #fff;
    }
    .open .burger_close{
        display: block;
    }
    .open .burger_icon{
        display: none;
    }

    .open .header{
        color: white;
        z-index: 1;
        width: 100%;
    }

    .open .navigation{
        padding: 80px 0;
    }

    .open .navigation  a{
        color: #fff;
    }

    .navigation  a:visited{
        color: #fff;
    }
    .navigation  a:hover {
        color: #FFD500;
    }
    .open .header_contact{

    }

    .header_contact  .contact_wrapper{
        max-width: calc(100vw - 120px);
        border-color: #fff;
        margin: 0 auto 148px;
    }
    .header_contact  .contact_message{
        color: white;
    }

    .header_contact [contentEditable=true]:empty:not(:focus):before{
        color: #fff;
    }
    .header_contact .contact_btn{
        background-color: white;
        color: #005BBB;
    }

    .main_about{
        font-size: 24px;
    }
    .history_cards--wrapper{
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 101px;
    }
    .history_card{
        max-width: 100%;
    }
    .history_card--m {
        margin-right: 0;
        margin-bottom: 28px;
    }
}

/* mobile */

@media only screen
and (min-width: 320px)
and (max-width: 850px) {
    .heading{
        font-size: 20px;
        line-height: 24px;
    }
    .heading::after{
        width: 100%;
    }
    .header,
    .main,
    .header_contact .contact_wrapper{
        max-width: calc(100vw - 40px);
    }
    .header__wrapper{
        position: absolute;
        z-index: 2;
    }
    .logo{
        width: 54px;
        height: 47px;
    }
    .burgerMenu_wrapper,
    .logo
    {
        display: none;
    }
    .open .burgerMenu_wrapper,
    .open  .logo{
        display: block;
    }
     .open .navigation{
        padding: 48px 0 90px 0;
    }
    .navigation ul{
        flex-direction: column;
    }

    .navigation ul li{
        margin: 0 0 48px 20px;
    }

    .navigation ul li:last-child{
        margin-bottom: 0px;
    }

    .gallery{
        max-width: 100%;
        margin: 0 0 32px;
    }
    .gallery_item{
        padding: 0;
        height: 180px;
    }

    .gallery img {
        width: 100%;
    }
    .slick-dots{
        bottom: -32px;
        height: 8px;
    }

    .slick-dots li{
        margin: 0 4px;
    }

    .slick-dots button{
        width: 0px;
        height: 0px;
    }

    .slick-dots li button:before {
        width: 8px;
        height: 8px;
    }

    .main_about{
        font-size: 16px;
        padding: 48px 0;
    }
    .history_cards--wrapper{
        margin: 24px 0 48px;
    }
    .history_card {
        font-size: 16px;
    }
    .history_year {
        font-size: 24px;
        line-height: 29px;
        display: block;
    }
    .history_card--m {
        margin-bottom: 24px;
    }
    .contact_wrapper{
        padding: 20px 20px 101px;
        margin: 24px 0 199px;
        text-align: center;
    }
    .contact_btn{
        top: auto;
        transform: translate(50%, 0);
        right: 50%;
        bottom: -79px;
        width: 100%;
    }

}